h1{
  color : #C03000;

}

h2{
  color:#4BB5C1;
}

 

label{
  color: black;
  text-align : left;
  font-family: Helvetica;
  font-weight: bold;
}

input[type=text]{
  width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Helvetica;
  float: right;
  clear:both;
}



input[type=submit]{
  width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: red;
  color:white;
  font-family: Helvetica;
  float: right;
  clear:both;
}

a{
  color: #96CA2D;
}

nav>ul>li:hover{
  background-color: #009900;
}

nav>ul>li a:selection{
  background-color: #009900;
}

footer a{
  color: #0000FF;
  text-decoration: none;
}

body{
  background-color: #EFECCA;
  font-family: 'Helvetica','Arial';
}


nav>ul>li a{
  color : white;
}

nav>ul>li{
  display: inline-block;
  background-color: #C03000;
  border : 1px solid #660000;
  list-style-type: none;
  margin: 0.5em;
  padding:10px;
}
